.main{
	border-top: 1px solid #ccc;
	margin: 20px 0;
	padding: 40px 0;
}
.main .hello{
	display: flex;
	line-height: 2em;
	align-items: center;
}
.main .hello .gifbtn{
	background-color: #ccc;
	padding: 0 5px;
	margin: 5px;
	cursor: default;
	border-radius: 10px;
}
.main .bannerCollection{
	display: flex;
	justify-content: center;
	width: 100%;
}
.main .bannerCollection .banner{
	padding: var(--default-padding);
	margin: var(--default-padding);
	width: 30%;
	height: 400px;
	border-radius: calc(var(--default-padding)*2);
	border: 1px solid #ccc;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	transition: .5s;
}
.main .bannerCollection .banner.bannerOne{
	background-image: url("../../../../public/bannerOne.png");
}
.main .bannerCollection .banner.bannerOne.gif{
	background-image: url("../../../../public/bannerOnce.gif");
}

.main .commentBox{
	border-radius: calc(var(--default-padding)*2);
	padding: 20px;
	margin: var(--default-padding);
	border: 1px solid #ccc;
}

.main .portfolio{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	padding: 30px;
	margin-bottom:50px;
}
.main .portfolio .portfolio-left{
	width: 20%;
	padding: var(--default-padding);
	margin-top: 20px;
}
.main .portfolio .portfolio-left .titleH3{
	border-bottom: 1px solid var(--user-color);
	padding: 10px 0;
	font-size: 24px;
}
.main .portfolio .portfolio-left .textarea{
	padding: 10px 0;
	font-size: 16px;
}
.main .portfolio .portfolio-left .thumbImg{
	overflow: hidden;
	margin: var(--default-padding);
	border-radius: calc(var(--default-padding)*2);
}
.main .portfolio .portfolio-left .thumbImg > img{
	transition: .5s;
}
.main .portfolio .portfolio-left:hover .thumbImg > img{
	transform: scale(1.2);
}
.main .portfolio .portfolio-right{
	display: flex;
	width: 70%;
	height: 100%;
	padding: var(--default-padding);
	background-color: #f7f7f7;
}

.main .portfolio .portfolio-right .windowImg{
	width: 70%;
	margin: var(--default-padding);
	overflow: hidden;
	border-radius: calc(var(--default-padding)*2);
}
.main .portfolio .portfolio-right .mediaImg{
	width: 30%;
	margin: var(--default-padding);
	overflow: hidden;
	border-radius: calc(var(--default-padding)*2);
}

