:root{
	--main-color:#fff;
	--user-color: blue;
	--font-color: #fff;
	--font-color-toowhitebg: none;
	--default-padding:10px;
}
@keyframes bgAnimation {
	from{
		width: 0%;
	}
	to{
		width: 100%;
	}
}
@keyframes scaleAnimation {
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}
@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

*{
	padding: 0; margin: 0; box-sizing: border-box;
	font-family: 'Pretendard-Regular','Courier New', Courier, monospace;
}
.App{
	background-color: var(--main-color);
}
li{list-style: none;}
a{text-decoration: none; color: inherit}
.inner{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
img{
	width: 100%;
}
b{
	padding-left: var(--default-padding);
}

.title{
	font-size: 40px;
	font-weight: bold;
	margin-top: 80px;
	margin-bottom: 40px;
	height: 50px;
	overflow: hidden;
}
.Introduce{
	overflow: hidden;
	line-height: 50px;
	height: 60px;
	font-size: 30px;
	font-weight: bold;
	padding: 5px 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	animation: bgAnimation 3s forwards;
	background: var(--user-color);
	max-width: 300px;
	color: var(--font-color);
	border-radius: 0 50px 50px 50px;
}

.comment{
	line-height: 35px;
	height: 35px;
	font-size: 20px;
	font-weight: bold;
	color: var(--user-color);
	margin-bottom: var(--default-padding);
	padding: 0 20px;
	background-color: var(--font-color-toowhitebg);
	border-radius: 0 50px 50px 50px;
	display: inline-block;
}
